<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Каталог аниме</title>
  {% load django_bootstrap5 %}
  {% load static %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" type='text/css' href="{% static 'anime/index.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light-subtle container">
  <div class="container-fluid">
    <div class="row w-100 align-items-center">
      <div class="col">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'anime/media/logo.png' %}" alt="Logo" width="72" height="72"
               class="d-inline-block align-text-сenter">
          Каталог
        </a>
      </div>
      <div class="col-8">
        {#        <form class="d-flex" role="search">#}
        {#          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>#}
        {#          <button class="btn btn-outline-success" type="submit">Search</button>#}
        {#        </form>#}
        {% block content %}
          <div class="container mt-4">
            <form id="search-form" method="GET" class="mb-4">
              {% bootstrap_form form layout='inline' %}
              <div id="search-results" class="position-absolute bg-white shadow-lg rounded mt-1" style="z-index: 1000;">
                {% include 'anime/results.html' %}
              </div>
              <div id="search-loader" class="position-absolute bg-white shadow-lg rounded mt-1" style="z-index: 1000; display: none;">
                <strong role="status">Loading...</strong>
                <div class="spinner-border ms-auto" aria-hidden="true"></div>
              </div>
            </form>
          </div>

          <script>
              document.addEventListener('DOMContentLoaded', function () {
                  const searchInput = document.querySelector('#id_query');
                  const resultsContainer = document.getElementById("search-results");
                  const loader = document.getElementById("search-loader");
                  let timeout;

                  searchInput.addEventListener('input', function() {
                    loader.class = ""
                      loader.style = "d-flex align-items-center";

                    clearTimeout(timeout);
                    timeout = setTimeout(() => {
                      const query = this.value;

                      // AJAX-запрос
                      fetch(`?query=${encodeURIComponent(query)}`)
                          .then(response => response.text())
                          .then(html => {
                              loader.style = "display: none;";
                              {#console.log("html", html);#}
                              resultsContainer.innerHTML = html;
                          });
                    }, 300); // Задержка 300мс
                  });

              });
          </script>
        {% endblock %}
      </div>
      <div class="col text-end">
        <button class="btn btn-outline-success">Сервера</button>
      </div>
      <div class="col text-end">
        <button class="btn btn-outline-success">Войти</button>
      </div>
    </div>
  </div>
</nav>
<div class='container'>
  {% for anime in animes %}
    {% if forloop.counter0|divisibleby:"4" %}
      <div class="row mb-4">
    {% endif %}
  <div class="col">
    <div class="card" style="width: 18rem;">
      <a class="card-block stretched-link text-decoration-none" href="{% url 'info' anime.id %}">
        <img src="{{ anime.poster.original_url }}" class="card-img-top" alt="{{ anime.russian }}">
        <div class="card-body">
          <h5 class="card-title">{{ anime.russian }}</h5>
          <div class="card-footer text-body-secondary">
            {{ anime.aired_on.year }}, {{ anime.genres.first }}
          </div>
        </div>
      </a>
    </div>
  </div>
  {% if forloop.counter0|add:"1"|divisibleby:"4" %}
    </div>
  {% endif %}
  {% endfor %}
</div>
</body>
</html>